 html {
   font-size: 28px;
   font-family: 'Open Sans', sans-serif;
 }



 /* h1 {
   font-size: 60px;
   text-align: center;
   color: white;
   background-color: white;
 } */

 /* 头部样式 */
 .header {
   background-color: gray;
   color: black;
   text-align: center;
 }

 ul {
   background-color: rgba(130, 122, 124, 0.3f);
   padding: 10px;
   margin: 20px;
   list-style-type: circle;
   /* border: 0.2px solid whitesmoke; */
 }

 .bodystyle {
   background-image: url('../images/xinxilan2.jpg');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position-x: center;
   align-content: center;
   align-items: center;
   align-content: center;
   width: 100%;
   height: 100%;
 }

 p {
   font-size: 50px;
   margin: 36px;
   background-position-x: center;
   color: black;
   /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
   line-height: 2;
   letter-spacing: 1px;
   text-shadow: 10px;
 }

 li {
   font-size: 26px;
   left: 100;
   color: black;
   /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
   line-height: 2;
   letter-spacing: 1px;
 }

 img {
   width: fit-content;
   height: auto;
 }

 a {
   color: black;
 }

 dt,
 dd {
   color: black;
   padding-left: 14px;
   font-size: 14px;
 }

 #aboutus {
   background-color: green;
   padding: 30px 30px 30px 30px;
   width: fit-content;
   border-style: solid;
   border: transparent;
   border-width: 1px;
   margin-left: 10px;
   border-radius: 12px;
 }

 .linkstyle {
   text-decoration: none;
   letter-spacing: 5px;
   font-size: 1em;
 }